.wrapper {
	max-width: 1700px;
	margin: auto;

	.back {
		font-weight: 300;
		font-size: 16px;
		line-height: 19px;
		text-transform: uppercase;
		color: #727272;
		margin: 83px 0;
		cursor: pointer;
		padding: 0 20px;
	}

	.back + h2 {
		width: 1075px;
		font-weight: 700;
		font-size: 52px;
		line-height: 66px;
		text-transform: uppercase;
		color: #2c2d2e;
		border-bottom: 8px solid #ff7a00;
		margin-bottom: 50px;
		padding: 0 20px;
	}

	h2 + p {
		font-weight: 300;
		font-size: 16px;
		line-height: 19px;
		text-decoration-line: underline;
		text-transform: uppercase;
		color: #727272;
		padding: 0 20px;
	}

	.container {
		display: flex;
		justify-content: space-between;
		margin-top: 112px;
		margin-bottom: 252px;
		padding: 0 20px;

		.slider {
			width: 45%;

			img {
				width: 100%;
				height: 800px;
				cursor: pointer;
			}
		}

		.information {
			width: 45%;

			h2 {
				font-weight: 500;
				font-size: 48px;
				line-height: 48px;
				text-transform: uppercase;
				color: #1e1d1d;
				margin-bottom: 88px;
			}

			p {
				font-style: normal;
				font-weight: 500;
				font-size: 22px;
				line-height: 22px;
				color: #1e1d1d;
				margin-bottom: 24px;
				padding: 0;

				span {
					text-transform: uppercase;
				}
			}

			.models {
				display: flex;
				flex-flow: wrap;
				margin-bottom: 64px;

				label {
					input[type='radio'] {
						margin-right: 8px;
					}
					margin-right: 42px;
					margin-bottom: 10px;
				}
			}

			.colors {
				display: flex;

				div {
					width: 42px;
					height: 42px;
					border-radius: 42px;
					margin-right: 24px;
					cursor: pointer;
					background-color: brown;
				}

				div + div {
					background-color: gray;
				}

				div + div + div {
					background-color: antiquewhite;
				}

				div + div + div + div {
					background-color: black;
				}
			}

			.description {
				p {
					text-align: center;
					margin-top: 50px;
				}

				span {
					display: block;
					font-size: 24px;
					line-height: 36px;
					height: 300px;
					width: 100%;
					scrollbar-color: #1e1d1d #727272;
					scrollbar-width: thin;
					overflow-x: scroll;
				}
			}
		}
	}

	h3 {
		font-weight: 300;
		font-size: 18px;
		line-height: 21px;
		text-align: center;
		text-transform: uppercase;
		color: #ffffff;
		padding-top: 18px;
		height: 56px;
		width: 100%;
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
			#ff7a00;
		margin-bottom: 250px;
	}

	h3 + h2 {
		width: 1075px;
		font-weight: 700;
		font-size: 52px;
		line-height: 66px;
		text-transform: uppercase;
		color: #2c2d2e;
		border-bottom: 8px solid #ff7a00;
		margin-bottom: 50px;
		padding: 0 20px;
	}

	.recommend {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}

@media screen and(max-width: 1140px) {
	.wrapper {
		.back {
			margin: 33px 0;
		}

		.back + h2 {
			width: 740px;
			font-size: 36px;
			line-height: 46px;
		}

		.container {
			margin-top: 50px;
			margin-bottom: 100px;

			.slider {
				width: 55%;
				display: flex;
				align-items: center;
				
				img {
					height: 500px;
				}
			}

			.information {
				width: 40%;
				h2 {
					font-weight: 500;
					font-size: 36px;
					line-height: 46px;
					margin-bottom: 15px;
				}

				p {
					font-style: normal;
					font-weight: 500;
					font-size: 18px;
					line-height: 22px;
					color: #1e1d1d;
					margin-bottom: 24px;
					padding: 0;

					span {
						text-transform: uppercase;
					}
				}

				.models {
					margin-bottom: 30px;
				}

				.description {
					p {
						text-align: center;
						margin-top: 30px;
					}

					span {
						font-size: 18px;
						line-height: 24px;
						height: 150px;
					}
				}
			}
		}

		h3 {
			margin-bottom: 100px;
		}

		h3 + h2 {
			width: 740px;
			font-size: 36px;
			line-height: 46px;
		}

		.recommend {
			padding: 0 20px;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}
	}
}
